.App {
  text-align: center;
}

.header {
  background-color: var(--color-green, #00c5c0);
  height: 4rem;
  color: var(--color-white, #fff);
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding-left: 1.5rem;
}

.container {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey, #e0e0e0);
  height: calc(100vh - 4rem);
  width: 25%;
  min-width: 12rem; /* 240px */
}

.upload-area {
  border-bottom: 1px solid black;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-btn {
  background-color: var(--color-blue, #0000ff);
  color: var(--color-white, #fff);
  height: 40%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.file-area {
  /* border: 1px solid salmon; */
  padding: 2rem;
}

.file-text {
  /* border: 1px dashed brown; */
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  text-align: left;
  font-weight: bold;
  display: flex;
  flex-wrap:wrap;
}

.file-text:last-child{
  /* border: 1px dashed blue; */
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap:wrap;
}

.rotate-input {
  border: 1px solid black;
  height: 2rem;
  width: 4rem;
  border-radius: 5px;
  margin: 0.3rem;
}

.rotate-btn {
  display: inline-block;
  background-color: var(--color-blue, #0000ff);
  color: var(--color-white, #fff);
  height: 2rem;
  width: 5rem;
  text-align: center;
  padding: 0.1rem;
  margin: 0.3rem;
}

.main {
  /* border: 1px dashed purple; */
  height: calc(100vh - 4rem);
  width: 100%;
}

.timer {
  /* border: 1px seagreen dashed; */
  text-align: right;
  height: 3rem;
  line-height: 3rem;
  padding-right: 1rem;
}

.canvas-area {
  /* border: 1px solid sandybrown; */
  width: 100%;
  height: calc(100% - 3rem);
}
